/* 
INDEX 
00 - CSS RESET & UTILITIES
01 - HEADER
02 - NAVBAR
03 - HERO SECTION
04 - MAIN 
05 - FOOTER
*/

/* 00 - CSS RESET & UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

/* 01 - HEADER */
header .discount {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  padding: 5px 0px;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

/* 02 - NAVBAR */
nav {
  height: 60px;
  padding: 0px 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: teal;
  color: #fff;
}

nav .logo {
  font-weight: bolder;
  letter-spacing: 2px;
}

nav .menu ul {
  display: flex;
  gap: 15px;
}

nav .menu ul li {
  /* Tolgo i dots dai list-item */
  list-style: none;
}

nav .menu ul li a {
  color: #cbcbcb;
}

nav .menu ul li a:hover {
  font-weight: bolder;
  color: #fff;
}

/* 03 - HERO SECTION */
.hero {
  height: calc(100vh - 80px);
  display: flex;
  background-image: url("assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.cta {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 25px;
}

.cta:last-child {
  background-color: #fff;
  color: black;
  border: 2px solid #000;
}

.cta:hover {
  background-color: blue;
  color: yellow;
}

/* 04 - MAIN */
main section {
  display: flex;
  padding: 40px 0px;
}

main section .txt-container,
main section .img-container {
  width: 50%;
  padding: 30px;
}

main section .txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main section .txt-container h2 {
  font-size: 17px;
  margin-bottom: 12px;
}

main section .txt-container p {
  font-size: 12px;
}

main section .img-container img {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

main .second {
  flex-direction: row-reverse;
  background-color: aliceblue;
}

main .fourth {
  flex-direction: column;
  background-color: aliceblue;
}

main .fourth .txt-container,
main .fourth .img-container {
  width: 100%;
}

#contatti {
  background-color: #000;
  color: #fff;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#contatti h2 {
  margin-bottom: 20px;
}

#contatti form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#contatti form div label {
  margin-bottom: 10px;
}

#contatti form div input,
#contatti form div textarea,
#contatti form button {
  border-radius: 4px;
  border: none;
  padding: 10px;
}

#contatti form button {
  color: #fff;
  background-color: teal;
  width: 100%;
  cursor: pointer;
}

.maps {
  padding: 0;
}

.maps iframe {
  width: 100%;
}

/* 05 - FOOTER */
footer {
  background-color: teal;
  color: #fff;
  text-align: center;
  padding: 50px 0px;
}
